body {
    font-family: 'Arial', sans-serif;
      background-color: #f4f4f4; /* Light background color */
      color: #333; /* Dark text color */
      margin: 0;
      padding: 0;
      line-height: 1.6;
   
}
.nav-link {
    color: black !important;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.discover {
    text-align: center;
}

form {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;

}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    display: block;
    margin: 0 auto;

}

button:hover {
    background-color: #45a049;
}
a {
    text-decoration: none;
    color: darkslategray; 
    font-weight: bold;
}

.custom-button:hover {
    background-color: red !important;
}

.custom-head {
    font-family: 'Caveat', cursive;
}

.btn-new-blog {
    margin-bottom: 10px;
    margin-top: 0;
}

button i {
    margin-left: 10px; 
}
button {
    text-align: center;
}
.btn-both {
    display: block !important;
}